<div class="card card-advantages bg-lime flex-column-reverse flex-md-row-reverse mb-6">
  <div class="card-body text-white p-5">
    <div class="form-row h-100">
      <div class="d-none d-lg-block col-lg-5">
        <img src="images/office.png" class="img-fluid h-100" style="object-fit: cover;" alt="" srcset="">
      </div>
      <div class="col-lg-7">
        <form action="">
          <div class="form-group">
            <label for="name" class="sr-only">Nombre*</label>
            <input type="text" name="" id="name" class="form-control required" placeholder="Nombre*" aria-describedby="helpId" required>
          </div>
          <div class="form-group">
            <label for="name" class="sr-only">Apellidos*</label>
            <input type="text" name="" id="name" class="form-control" placeholder="Apellidos*" aria-describedby="helpId" required>
          </div>
          <div class="form-group">
            <label for="name" class="sr-only">Email* </label>
            <input type="email" name="" id="name" class="form-control" placeholder="Email*" aria-describedby="helpId" required>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-white font-weight-bold text-dark-blue border-right" id="basic-addon1">+34</span>
            </div>
            <input type="text" class="form-control" placeholder="Teléfono*" aria-label="Teléfono*" aria-describedby="basic-addon1" required>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
              Acepto recibir datos...
            </label>
          </div>
          <p class="form-text">
            Al hacer clic en Enviar, aceptas que Grupo GNA almacene y procese la información personal suministrada arriba para proporcionarte el contenido solicitado.
          </p>
          <div class="text-right">
            <button type="button" class="btn btn-turqoise">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <img class="card-img-top img-fluid" src="images/gmaps.png">
</div>