<%- include('./includes/header.ejs') %>
<section class="jumbotron-fluid position-relative">
  <picture>
    <source srcset="images/LINEA_AVENTURAS_1.png" media="(min-width: 768px)">
    <img src="images/LINEA_AVENTURAS_2.png" class="img-fluid w-100">
  </picture>
  <div class="position-absolute p-5 p-md-7" style="bottom: 0; right: 0">
    <img src="images/mycar-rules.png" alt="MyCar, MyRules" class="my-car-my-rules">
  </div>
</section>
<section class="container py-7">
  <h3 class="h2 text-center mb-6">
    Nunca ha sido tan fácil disfrutar de coche nuevo
  </h3>
  <div id="VSwitch" class="v-switch mx-auto mb-3 d-md-none" style="background-color: #CCD63C;">
    <div class="v-switch-number" style="background-color: #BBC537">1</div>
  </div>
  <div class="about-slider d-md-flex justify-content-between">
    <div class="px-3 px-lg-5">
      <div class="v-switch bg-lime mx-auto mb-3 d-none d-md-block">
        <div class="v-switch-number bg-lime-darker">1</div>
      </div>
      <div class="text-xlg font-weight-bold text-center py-4">
        Elige tu solución de movilidad
      </div>
    </div>
    <div class="px-3 px-lg-5">
      <div class="v-switch v-switch-number-bottom bg-green mx-auto mb-3 d-none d-md-block">
        <div class="v-switch-number bg-green-darker">2</div>
      </div>
      <div class="text-xlg font-weight-bold text-center py-4">
        Ven a nuestras instalaciones y recoge tu vehículo
      </div>
    </div>
    <div class="px-3 px-lg-5">
      <div class="v-switch bg-blue mx-auto mb-3 d-none d-md-block">
        <div class="v-switch-number bg-dark-blue">3</div>
      </div>
      <div class="text-xlg font-weight-bold text-center py-4">
        Disfruta de ser Myca y olvídate
        de problemas
      </div>
    </div>
    <div class="px-3 px-lg-5">
      <div class="v-switch v-switch-number-bottom bg-purple-lighter mx-auto mb-3 d-none d-md-block">
        <div class="v-switch-number bg-purple">4</div>
      </div>
      <div class="text-xlg font-weight-bold text-center py-4">
        Devuelve el coche cuando quieras ¡tú eliges!
      </div>
    </div>
  </div>
</section>
<div class="section-divider mb-5">
  SmartMove
</div>
<section class="py-7"
  style="background-image: url(images/shapes-bg.png); background-repeat: no-repeat; background-size: contain; background-position: center;">
  <h2 class="h2 text-center mb-3">
    Replantéate lo que es más rentable
  </h2>
  <div class="container">
    <div class="compare">
      <div class="compare_heading">
        <div>
          <img src="../svg/compra.svg" alt="">
          <h3>Compra</h3>
        </div>
        <div class="compare_vs">vs</div>
        <div>
          <img src="../svg/renting.svg" alt="">
          <h3>Renting</h3>
        </div>
      </div>
      <div>
        <div>
          <figure>
            <img src="../svg/cross.svg" alt="" srcset="">
            <figcaption>
              No Incluido
            </figcaption>
          </figure>
        </div>
        <div class="compare_param">
          Seguro a todo riesgo
        </div>
        <div>
          <figure>
            <img src="../svg/check.svg" alt="" srcset="">
            <figcaption>
              Incluido
            </figcaption>
          </figure>
        </div>
      </div>
      <div>
        <div>
          <figure>
            <img src="../svg/cross.svg" alt="" srcset="">
            <figcaption>
              No Incluido
            </figcaption>
          </figure>
        </div>
        <div class="compare_param">
          Mantenimiento y averías
        </div>
        <div>
          <figure>
            <img src="../svg/check.svg" alt="" srcset="">
            <figcaption>
              Incluido
            </figcaption>
          </figure>
        </div>
      </div>
      <div>
        <div>
          <figure>
            <img src="../svg/cross.svg" alt="" srcset="">
            <figcaption>
              No Incluido
            </figcaption>
          </figure>
        </div>
        <div class="compare_param">
          Impuestos
        </div>
        <div>
          <figure>
            <img src="../svg/check.svg" alt="" srcset="">
            <figcaption>
              Incluido
            </figcaption>
          </figure>
        </div>
      </div>
      <div>
        <div>
          <figure>
            <img src="../svg/cross.svg" alt="" srcset="">
            <figcaption>
              No Incluido
            </figcaption>
          </figure>
        </div>
        <div class="compare_param">
          Vehículo de sustitución
        </div>
        <div>
          <figure>
            <img src="../svg/check.svg" alt="" srcset="">
            <figcaption>
              Incluido
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-7">
  <div class="container">
    <div class="card card-advantages bg-lime flex-md-row align-items-center">
      <div class="card-body text-white" style="flex-basis: 45%;">
        <h5 class=" display-4 font-weight-semibold">Lleva tu coche
          en tu móvil: </h5>
        <div class=" display-4  card-text mb-6">
          consumos, mantenimiento, documentación... </div>
      </div>
      <img class="card-img-bottom img-fluid" src="images/flexible.png" style="flex-basis: 55%;">
    </div>
  </div>
</section>
<section class="bg-blue py-7">
  <div class="container">
    <h2 class="mb-6 text-center text-white">
      <img src="images/my.png" class="img-fluid mr-1"><span class="align-bottom"
        style="font-size: 36px; line-height: 1.15">Experience</span>
    </h2>
    <div class="testimonial-slider">
      <div class="px-3">
        <div class="card">
          <div class="card-body">
            <div class="media mb-3">
              <img class="align-self-center mr-4" src="../svg/user.svg" alt="User picture placeholder">
              <div class="media-body">
                <h5>Eduardo P.</h5>
                <p class="mb-0 text-lime">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </p>
              </div>
            </div>
            <div class="text-gray-3">
              Es mi primer seguro como único titular. Otras compañías, por mi edad, requieren para conseguir un precio
              similar que el tomador del seguro sea un ascendente familiar ya asegurado.
            </div>
          </div>
        </div>
      </div>
      <div class="px-3">
        <div class="card">
          <div class="card-body">
            <div class="media mb-3">
              <img class="align-self-center mr-4" src="../svg/user.svg" alt="User picture placeholder">
              <div class="media-body">
                <h5>Eduardo P.</h5>
                <p class="mb-0 text-lime">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </p>
              </div>
            </div>
            <div class="text-gray-3">
              Es mi primer seguro como único titular. Otras compañías, por mi edad, requieren para conseguir un precio
              similar que el tomador del seguro sea un ascendente familiar ya asegurado.
            </div>
          </div>
        </div>
      </div>
      <div class="px-3">
        <div class="card">
          <div class="card-body">
            <div class="media mb-3">
              <img class="align-self-center mr-4" src="../svg/user.svg" alt="User picture placeholder">
              <div class="media-body">
                <h5>Eduardo P.</h5>
                <p class="mb-0 text-lime">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </p>
              </div>
            </div>
            <div class="text-gray-3">
              Es mi primer seguro como único titular. Otras compañías, por mi edad, requieren para conseguir un precio
              similar que el tomador del seguro sea un ascendente familiar ya asegurado.
            </div>
          </div>
        </div>
      </div>
      <div class="px-3">
        <div class="card">
          <div class="card-body">
            <div class="media mb-3">
              <img class="align-self-center mr-4" src="../svg/user.svg" alt="User picture placeholder">
              <div class="media-body">
                <h5>Eduardo P.</h5>
                <p class="mb-0 text-lime">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </p>
              </div>
            </div>
            <div class="text-gray-3">
              Es mi primer seguro como único titular. Otras compañías, por mi edad, requieren para conseguir un precio
              similar que el tomador del seguro sea un ascendente familiar ya asegurado.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-7"
  style="background-image: url(images/purple-swish.png); background-repeat: no-repeat; background-size: cover;">
  <h2 class="h2 text-center mb-6">
    Últimas noticias
  </h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card shadow">
          <img class="card-img-top" src="images/article-thumb.png" alt="Article Thumbnail">
          <div class="card-body bg-light">
            <h4 class="card-title">Este es un titular de una noticia del blog</h4>

            <div class="card-footer mt-6">
              <div class="d-flex justify-content-between align-items-center">
                <div>15/07/2020</div>
                <a href="http://">
                  <img src="../svg/link-arrow.svg" alt="Arrow Right">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card shadow">
          <img class="card-img-top" src="images/article-thumb.png" alt="Article Thumbnail">
          <div class="card-body bg-light">
            <h4 class="card-title">Este es un titular de una noticia del blog</h4>

            <div class="card-footer mt-6">
              <div class="d-flex justify-content-between align-items-center">
                <div>15/07/2020</div>
                <a href="http://">
                  <img src="../svg/link-arrow.svg" alt="Arrow Right">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card shadow">
          <img class="card-img-top" src="images/article-thumb.png" alt="Article Thumbnail">
          <div class="card-body bg-light">
            <h4 class="card-title">Este es un titular de una noticia del blog</h4>

            <div class="card-footer mt-6">
              <div class="d-flex justify-content-between align-items-center">
                <div>15/07/2020</div>
                <a href="http://">
                  <img src="../svg/link-arrow.svg" alt="Arrow Right">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./includes/footer.ejs') %>