<%- include('./includes/header.ejs') %>

<main class="py-5 py-lg-10" style="background-image: url(../svg/ppp-lines.svg); background-size: cover; background-position: top left; background-repeat: no-repeat;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="card shadow">
          <img class="card-img-top" src="images/article-thumb.png" alt="Article Thumbnail">
          <div class="card-body bg-light">
            <h4 class="card-title">Este es un titular de una noticia del blog</h4>

            <div class="card-footer mt-6">
              <div class="d-flex justify-content-between align-items-center">
                <div>15/07/2020</div>
                <a href="http://">
                  <img src="../svg/link-arrow.svg" alt="Arrow Right">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="card shadow">
          <img class="card-img-top" src="images/article-thumb.png" alt="Article Thumbnail">
          <div class="card-body bg-light">
            <h4 class="card-title">Este es un titular de una noticia del blog</h4>

            <div class="card-footer mt-6">
              <div class="d-flex justify-content-between align-items-center">
                <div>15/07/2020</div>
                <a href="http://">
                  <img src="../svg/link-arrow.svg" alt="Arrow Right">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="card shadow">
          <img class="card-img-top" src="images/article-thumb.png" alt="Article Thumbnail">
          <div class="card-body bg-light">
            <h4 class="card-title">Este es un titular de una noticia del blog</h4>

            <div class="card-footer mt-6">
              <div class="d-flex justify-content-between align-items-center">
                <div>15/07/2020</div>
                <a href="http://">
                  <img src="../svg/link-arrow.svg" alt="Arrow Right">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="card shadow">
          <img class="card-img-top" src="images/article-thumb.png" alt="Article Thumbnail">
          <div class="card-body bg-light">
            <h4 class="card-title">Este es un titular de una noticia del blog</h4>

            <div class="card-footer mt-6">
              <div class="d-flex justify-content-between align-items-center">
                <div>15/07/2020</div>
                <a href="http://">
                  <img src="../svg/link-arrow.svg" alt="Arrow Right">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="card shadow">
          <img class="card-img-top" src="images/article-thumb.png" alt="Article Thumbnail">
          <div class="card-body bg-light">
            <h4 class="card-title">Este es un titular de una noticia del blog</h4>

            <div class="card-footer mt-6">
              <div class="d-flex justify-content-between align-items-center">
                <div>15/07/2020</div>
                <a href="http://">
                  <img src="../svg/link-arrow.svg" alt="Arrow Right">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="card shadow">
          <img class="card-img-top" src="images/article-thumb.png" alt="Article Thumbnail">
          <div class="card-body bg-light">
            <h4 class="card-title">Este es un titular de una noticia del blog</h4>

            <div class="card-footer mt-6">
              <div class="d-flex justify-content-between align-items-center">
                <div>15/07/2020</div>
                <a href="http://">
                  <img src="../svg/link-arrow.svg" alt="Arrow Right">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="card shadow">
          <img class="card-img-top" src="images/article-thumb.png" alt="Article Thumbnail">
          <div class="card-body bg-light">
            <h4 class="card-title">Este es un titular de una noticia del blog</h4>

            <div class="card-footer mt-6">
              <div class="d-flex justify-content-between align-items-center">
                <div>15/07/2020</div>
                <a href="http://">
                  <img src="../svg/link-arrow.svg" alt="Arrow Right">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="card shadow">
          <img class="card-img-top" src="images/article-thumb.png" alt="Article Thumbnail">
          <div class="card-body bg-light">
            <h4 class="card-title">Este es un titular de una noticia del blog</h4>

            <div class="card-footer mt-6">
              <div class="d-flex justify-content-between align-items-center">
                <div>15/07/2020</div>
                <a href="http://">
                  <img src="../svg/link-arrow.svg" alt="Arrow Right">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="card shadow">
          <img class="card-img-top" src="images/article-thumb.png" alt="Article Thumbnail">
          <div class="card-body bg-light">
            <h4 class="card-title">Este es un titular de una noticia del blog</h4>

            <div class="card-footer mt-6">
              <div class="d-flex justify-content-between align-items-center">
                <div>15/07/2020</div>
                <a href="http://">
                  <img src="../svg/link-arrow.svg" alt="Arrow Right">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('./includes/footer.ejs') %>