<%- include('./includes/header.ejs') %>
<div class="jumbotron-slider">
	<div class="billboard">
		<picture>
			<source srcset="images/slide1.png" media="(min-width: 768px)">
			<img src="images/slide1mobile.png" class="billboard_bg" width="100%">
		</picture>
		<div class="billboard__inner">
			<div class="container text-white">
				<div class="billboard__text billboard__text--display">
					Mi coche,
					mis reglas.
				</div>
				<div class="billboard__text billboard__text--lead">Tu coche desde </div>
				<div class="billboard__text billboard__text--pill bg-green">199€<small>/mes</small></div>
			</div>
		</div>
	</div>
	<div class="billboard">
		<picture>
			<source srcset="images/slide2.png" media="(min-width: 768px)">
			<img src="images/slide2mobile.png" class="billboard_bg" width="100%">
		</picture>
		<div class="billboard__inner">
			<div class="container text-white">
				<div class="billboard__text billboard__text--display">
					Trabaja sin tener que pensar en tu vehículo.
				</div>
				<div class="billboard__text billboard__text--lead">Tu furgoneta desde</div>
				<div class="billboard__text billboard__text--pill bg-green">262€<small>/mes</small></div>
			</div>
		</div>
	</div>
	<div class="billboard">
		<picture>
			<source srcset="images/slide3.png" media="(min-width: 768px)">
			<img src="images/slide3mobile.png" class="billboard_bg" width="100%">
		</picture>
		<div class="billboard__inner">
			<div class="container">
				<div class="billboard__text billboard__text--display">
					Vacaciones sin problemas, solo disfruta.
				</div>
				<div class="billboard__text billboard__text--lead text-blue">Renting a tu medida</div>
			</div>
		</div>
	</div>

</div>

<!-- Form -->
<div class="container">
	<div class="shadow-lg p-5 border-top border-top-thick border-purple bg-white"
		style="margin-top: -50px; z-index: 900; position: relative;">
		<form>
			<div class="row flex-grow-1">
				<div class="col-lg-10 container-fluid flex-grow-1">
					<div id="accordianId" class="form-row" role="tablist" aria-multiselectable="true">
						<div class="col-lg-4 form-group">
							<div class="border border-purple form-radio-collapsible">
								<div class="bg-white border-bottom-0" role="tab" id="section1HeaderId">
									<a class="text-purple font-weight-bold d-flex justify-content-between" data-toggle="collapse"
										data-parent="#accordianId" href="#section1ContentId" aria-expanded="false"
										aria-controls="section1ContentId">
										¿Cúal es tu presupuesto?
										<span class="arrow">
											<i class="bi bi-chevron-down"></i>
										</span>
									</a>
								</div>
								<div id="section1ContentId" class="collapse in form-radio-collapse-list" role="tabpanel"
									aria-labelledby="section1HeaderId">
									<div class="form-select-list">
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
												Menos de 200€/mes
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
												Entre 200 - 500€/mes
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
												Más de 500€/mes
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 form-group">
							<div class="border border-blue form-radio-collapsible">
								<div class="bg-white border-bottom-0" role="tab" id="section2HeaderId">
									<a class="text-blue font-weight-bold" data-toggle="collapse" data-parent="#accordianId" href="#section2ContentId"
										aria-expanded="false" aria-controls="section2ContentId">
										¿Que uso vas a dar?<span class="arrow">
											<i class="bi bi-chevron-down"></i>
										</span>
									</a>
								</div>
								<div id="section2ContentId" class="collapse in form-radio-collapse-list" role="tabpanel"
									aria-labelledby="section2HeaderId">
									<div>
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
												Menos de 200€/mes
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
												Entre 200 - 500€/mes
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
												Más de 500€/mes
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 form-group">
							<div class="border border-lime form-radio-collapsible">
								<div class="bg-white border-bottom-0" role="tab" id="section3HeaderId">
									<a class="text-lime font-weight-bold" data-toggle="collapse" data-parent="#accordianId" href="#section3ContentId"
										aria-expanded="false" aria-controls="section3ContentId">
										¿Cuanto tiempo?
										<span class="arrow">
											<i class="bi bi-chevron-down"></i>
										</span>
									</a>
								</div>
								<div id="section3ContentId" class="collapse in form-radio-collapse-list" role="tabpanel"
									aria-labelledby="section3HeaderId">
									<div>
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
												Menos de 200€/mes
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
												Entre 200 - 500€/mes
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
												Más de 500€/mes
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 text-right">
					<button class="btn btn-primary" data-toggle="modal" data-target="#modelId"
						onclick="e.preventDefault();">Consultar</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Animation Section -->
<div class="container-fluid">
	<div class="row align-items-center">
		<img src="images/Captura de pantalla 2020-10-08 a las 15.30 1.png" class="img-fluid col-4">
		<div class="col">
			<picture>
				<source media="(min-width: 768px)" srcset="images/ANIMACION-ICONOS-MYCA-904x436.gif">
				<img src="images/ANIMACION-ICONOS-MYCA--615x507.gif" class="img-fluid">
			</picture>
		</div>
	</div>
</div>

<!-- SmartMove Divider-->
<section class="container-fluid pb-10">
	<h2 class="section-divider mb-5">
		SmartMove
	</h2>
	<h3 class="h2 text-center">
		¿Tienes en mente un vehículo?
	</h3>
	<div class="container">
		<div class="products-slider mb-5">
			<div class="px-md-4 h-100">
				<div class="product">
					<h5 class="product__title">
						<img src="images/my-1.png">
						Fiat 500
					</h5>
					<div class="product__body">
						<div class="product__price">
							<div class="small">desde</div>
							<div>
								<span>199€</span>
								<small>/mes</small>
							</div>
						</div>
						<img src="images/2008 10.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-green text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3 h-100">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="images/my-1.png">
						Ford Focus
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="images/2008 11.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-green text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3 h-100">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="images/my-1.png">
						Opel Corsa
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="images/2008 12.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-green text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="products-slider mb-5">
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="images/my-2.png">
						alfaromeo giulietta
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="images/2008 13.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-lime text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="images/my-2.png">
						land rover-range
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="images/2008 14.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-lime text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="images/my-2.png">
						Jaguar-xe
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="images/2008 15.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-lime text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="products-slider mb-5">
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="images/my-3.png">
						Piaggio Liberty
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="images/2008 16.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-purple text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="images/my-3.png">
						Aprilia
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="images/2008 17.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-purple text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="images/my-3.png">
						MG Stornello
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="images/2008 18.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-purple text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-light py-7">
	<h2 class="h2 h2--v2 text-center text-dark-blue mb-6">
		Todas nuestras marcas
	</h2>
	<div class="container">
		<div class="brands-slider text-center">
			<div>
				<img src="images/brands/opel.png" class="img-fluid m-auto">
			</div>
			<div>
				<img src="images/brands/abarth.png" class="img-fluid m-auto">
			</div>
			<div>
				<img src="images/brands/ford.png" class="img-fluid m-auto">
			</div>
			<div>
				<img src="images/brands/hyundai.png" class="img-fluid m-auto">
			</div>
			<div>
				<img src="images/brands/jeep.png" class="img-fluid m-auto">
			</div>
			<div>
				<img src="images/brands/land-rover.png" class="img-fluid m-auto">
			</div>
			<div>
				<img src="images/brands/ssangyong.png" class="img-fluid m-auto">
			</div>
			<div>
				<img src="images/brands/subaru.png" class="img-fluid m-auto">
			</div>
			<div>
				<img src="images/brands/suzuki.png" class="img-fluid m-auto">
			</div>
		</div>
	</div>
</section>
<section class="container-fluid pt-5 pt-lg-10">
	<div class="container mb-6">
		<div class="advantages-slider">
			<div>
				<div class="card card-advantages flex-md-row bg-turqoise">
					<div class="card-body text-white d-flex flex-column">
						<h5 class="card-title display-3 font-weight-bolder">Flexible.</h5>
						<div class="card-text mb-6 font-weight-bolder">Cambia de coche cuando quieras.
							Si te surgen nuevas necesidades es muy fácil cambiar de plan, de vehículo o de condiciones. </div>
						<div class="dotsStatic mt-auto">
							<div class="dot active"></div>
							<div class="dot"></div>
							<div class="dot"></div>
						</div>
					</div>
					<img class="card-img-bottom img-fluid" src="images/flexible.png">
				</div>
			</div>
			<div>
				<div class="card card-advantages flex-md-row bg-lime">
					<div class="card-body text-white d-flex flex-column">
						<h5 class="card-title display-3 font-weight-bolder">Personal.</h5>
						<div class="card-text mb-6 font-weight-bolder">Recogemos/entregamos tu vehículo en tu domicilio. </div>
						<div class="dotsStatic mt-auto">
							<div class="dot"></div>
							<div class="dot active"></div>
							<div class="dot"></div>
						</div>
					</div>
					<img class="card-img-bottom img-fluid" src="images/personal.png">
				</div>
			</div>
			<div>
				<div class="card card-advantages flex-md-row bg-blue">
					<div class="card-body text-white d-flex flex-column">
						<h5 class="card-title display-3 font-weight-bolder">Control.</h5>
						<div class="card-text mb-6 font-weight-bolder">Cambia de coche cuando quieras.
							Toda la información de tu vehículo en tu móvil.</div>
						<div class="dotsStatic mt-auto">
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot active"></div>
						</div>
					</div>
					<img class="card-img-bottom img-fluid" src="images/control.png">
				</div>
			</div>
		</div>
	</div>


	<h3 class="h2 text-center mb-5">
		Planes Myca a tu medida.
	</h3>
	<div class="container mb-6">
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="card rounded-lg">
					<img src="images/plan-mydrive.png" alt="" class="card-img">
					<div class="card-img-overlay text-white d-flex flex-column">
						<div class="text-dark-blue font-weight-bold">Plan</div>
						<div class="mb-4">
							<img src="images/my.png" class="img-fluid mr-1"><span class="align-bottom"
								style="font-size: 36px; line-height: 1.15">Drive</span>
						</div>
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value font-weight-medium">187€</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<div class="mt-auto text-center">
							<a href="#" class="btn btn-long btn-outline-light">Ver Plan </a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card rounded-lg">
					<img src="images/my-city.png" alt="" class="card-img">
					<div class="card-img-overlay text-white d-flex flex-column">
						<div class="text-dark-blue font-weight-bold">Plan</div>
						<div class="mb-4">
							<img src="images/my.png" class="img-fluid mr-1"><span class="align-bottom"
								style="font-size: 36px; line-height: 1.15">City</span>
						</div>
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value font-weight-medium">159€</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<div class="mt-auto text-center">
							<a href="#" class="btn btn-long btn-outline-light">Ver Plan </a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card rounded-lg">
					<img src="images/my-business.png" alt="" class="card-img">
					<div class="card-img-overlay text-white d-flex flex-column">
						<div class="text-dark-blue font-weight-bold">Plan</div>
						<div class="mb-4">
							<img src="images/my.png" class="img-fluid mr-1"><span class="align-bottom"
								style="font-size: 36px; line-height: 1.15">Business</span>
						</div>
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value font-weight-medium">127€</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<div class="mt-auto text-center">
							<a href="#" class="btn btn-long btn-outline-light">Ver Plan </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h2 class="section-divider mb-5">
		SmartMove
	</h2>
	<div class="container mb-6">
		<div class="card card-advantages bg-light flex-md-row">
			<div class="card-body p-lg-9" style="flex-basis: 45%;">
				<h5 class=" display-4 font-weight-semibold">Lleva tu coche
					en tu móvil: </h5>
				<div class=" display-4  card-text mb-6">
					consumos, mantenimiento, documentación... </div>
			</div>
			<img class="card-img-bottom img-fluid" src="images/flexible.png" style="flex-basis: 55%;">
		</div>
	</div>
</section>
<section class="mb-6">
	<h3 class="h2 text-center mb-5">
		Ofertas Myca.
	</h3>
	<div class="container-lg">
		<div class="row">
			<div class="col-md-4 mb-3 px-0 px-md-3">
				<div class="bg-lime">
					<div class="d-flex align-items-center justify-content-between p-4xl">
						<div>
							<span class="text-lg">Tu coche desde</span>
							<div class="price text-white">
								<span class="value">199€</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<div>
							<a href="#" class="btn btn-dark-blue btn-sm pill">¡Lo quiero!</a>
						</div>
					</div>
					<img src="images/Mesa de trabajo 4@2x 1.png" class="img-fluid">
				</div>
			</div>
			<div class="col-md-4 mb-3 px-0 px-md-3">
				<div class="bg-blue">
					<div class="d-flex align-items-center justify-content-between p-4xl">
						<div>
							<span class="text-lg">Tu coche desde</span>
							<div class="price text-white">
								<span class="value">262€</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<div>
							<a href="#" class="btn btn-dark-blue btn-sm pill">¡Lo quiero!</a>
						</div>
					</div>
					<img src="images/Mesa de trabajo 5@2x 1.png" class="img-fluid">
				</div>
			</div>
			<div class="col-md-4 mb-3 px-0 px-md-3">
				<div class="bg-purple-lighter">
					<div class="d-flex align-items-center justify-content-between p-4xl">
						<div>
							<span class="text-lg">Tu coche desde</span>
							<div class="price text-white">
								<span class="value">72€</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<div>
							<a href="#" class="btn btn-dark-blue btn-sm pill">¡Lo quiero!</a>
						</div>
					</div>
					<img src="images/Mesa de trabajo 6@2x 1.png" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid px-lg-6">
	<%- include('./includes/contact-form.ejs') %>
	<div class="text-center mb-6">
		<button type="button" class="btn btn-long btn-blue" data-toggle="modal" data-target="#model2">Te llamamos</button>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header border-bottom-0">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-5">
				<form action="">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
								<div id="accordian2" class="mb-5" role="tablist" aria-multiselectable="true">
									<div class="form-group">
										<div class="border border-purple form-radio-collapsible">
											<div class="bg-white border-bottom-0" role="tab" id="section1HeaderId1">
												<a class="text-purple" data-toggle="collapse" data-parent="#accordian2"
													href="#section1ContentId1" aria-expanded="false" aria-controls="section1ContentId1">
													¿Cúal es tu presupuesto?
													<span class="arrow">
														<i class="bi bi-chevron-down"></i>
													</span>
												</a>
											</div>
											<div id="section1ContentId1" class="collapse in form-radio-collapse-list pl-lg-0 border-0 position-static" role="tabpanel"
												aria-labelledby="section1HeaderId1">
												<div class="form-select-list">
													<div class="form-check">
														<label class="form-check-label">
															<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
															Menos de 200€/mes
														</label>
													</div>
													<div class="form-check">
														<label class="form-check-label">
															<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
															Entre 200 - 500€/mes
														</label>
													</div>
													<div class="form-check">
														<label class="form-check-label">
															<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
															Más de 500€/mes
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="border border-blue form-radio-collapsible">
											<div class="bg-white border-bottom-0" role="tab" id="section2HeaderId2">
												<a class="text-blue" data-toggle="collapse" data-parent="#accordian2" href="#section2ContentId2"
													aria-expanded="false" aria-controls="section2ContentId2">
													¿Que uso vas a dar?<span class="arrow">
														<i class="bi bi-chevron-down"></i>
													</span>
												</a>
											</div>
											<div id="section2ContentId" class="collapse in form-radio-collapse-list" role="tabpanel"
												aria-labelledby="section2HeaderId2">
												<div>
													<div class="form-check">
														<label class="form-check-label">
															<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
															Menos de 200€/mes
														</label>
													</div>
													<div class="form-check">
														<label class="form-check-label">
															<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
															Entre 200 - 500€/mes
														</label>
													</div>
													<div class="form-check">
														<label class="form-check-label">
															<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
															Más de 500€/mes
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="border border-lime form-radio-collapsible">
											<div class="bg-white border-bottom-0" role="tab" id="section3HeaderId2">
												<a class="text-lime" data-toggle="collapse" data-parent="#accordian2" href="#section3ContentId2"
													aria-expanded="false" aria-controls="section3ContentId2">
													¿Cuanto tiempo?
													<span class="arrow">
														<i class="bi bi-chevron-down"></i>
													</span>
												</a>
											</div>
											<div id="section3ContentId2"
												class="collapse in form-radio-collapse-list position-static p-0 px-lg-0 border-0"
												role="tabpanel" aria-labelledby="section3HeaderId2">
												<div>
													<div class="form-check">
														<label class="form-check-label">
															<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
															Menos de 200€/mes
														</label>
													</div>
													<div class="form-check">
														<label class="form-check-label">
															<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
															Entre 200 - 500€/mes
														</label>
													</div>
													<div class="form-check">
														<label class="form-check-label">
															<input type="radio" class="form-check-input" name="1" id="" value="checkedValue">
															Más de 500€/mes
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="name" class="sr-only">Nombre*</label>
									<input type="text" name="" id="name" class="form-control bg-light" placeholder="Nombre*"
										aria-describedby="helpId">
								</div>
								<div class="form-group">
									<label for="name" class="sr-only">Apellidos*</label>
									<input type="text" name="" id="name" class="form-control bg-light" placeholder="Apellidos*"
										aria-describedby="helpId">
								</div>
								<div class="form-group">
									<label for="name" class="sr-only">Email* </label>
									<input type="email" name="" id="name" class="form-control bg-light" placeholder="Email*"
										aria-describedby="helpId">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-light font-weight-bold text-dark-blue border-right"
											id="basic-addon1">+34</span>
									</div>
									<input type="text" class="form-control bg-light" placeholder="Teléfono*" aria-label="Teléfono*"
										aria-describedby="basic-addon1">
								</div>
								<div class="form-check">
									<label class="form-check-label text-gray-4">
										<input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
										Acepto recibir datos...
									</label>
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-between">
							<div class="form-text text-gray-4">
								Al hacer clic en Enviar, aceptas que Grupo GNA almacene y procese la información personal suministrada
								arriba para proporcionarte el contenido solicitado.
							</div>
							<div class="text-right">
								<button type="button" class="btn btn-lime">Enviar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('button').click(function (e) {
			e.preventDefault()
		})
	})
</script>
<%- include('./includes/footer.ejs') %>