<%- include('./includes/header.ejs') %>
<main class="py-4 py-md-7">
  <div class="container">

    <div class="mb-4">
      <a href="http://">&lt; VOLVER</a>
    </div>
    <div class="d-flex flex-column flex-lg-row-reverse justify-content-between align-items-lg-center mb-4 mb-lg-7">
      <div>15/07/2020</div>
      <h1 class="h1 mb-0">
        Este es el titular de la entrada del blog
      </h1>
    </div>
    <div class="section-divider section-divider-no-text mb-5"></div>
  </div>

  <div class="container-md p-0 p-md-3 mb-4xl">
    <figure>
      <img src="images/article-header.png" class="img-fluid w-100" alt="">
    </figure>
  </div>

  <div class="container">
    <div class="content">
      <h2 class="h4">¿Quién es el responsable del tratamiento de sus datos?</h2>
      <p>
        Identidad: MYCA SMART MOVE, SL <br />
        CIF: B02690873 <br />
        Dir. postal: CAMINO SAN RAFAEL, 39 29006 / MALAGA <br />
        Teléfono: 952324016 <br />
        Correo elect: <a href="mailto:protecciondatos@nietsur.com "> protecciondatos@nietsur.com</a> <br />
      </p>
      <h2 class="h4">
        ¿Con qué finalidad tratamos sus datos personales?
      </h2>
      <p>
        Tratamos la información que nos facilitan las personas interesadas con el fin de mantenerle informado sobre
        temas
        de su interés, tales como noticias, promociones.
      </p>
      <h2 class="h4">¿Cuál es la legitimación para el tratamiento de sus datos?</h2>
      <p>La base legal para el tratamiento de sus datos es la prestación del servicio y/o el consentimiento del
        interesado.
      </p>
      <h2 class="h4">¿A qué destinatarios se comunicarán sus datos?</h2>
      <p>Los datos se podrán comunicar a las empresas del Grupo Nieto Adame
      </p>
      <h2 class="h4">¿Cuáles son sus derechos cuando nos facilita sus datos?</h2>
      <p>Cualquier persona tiene derecho a obtener confirmación sobre si estamos tratando datos personales que les
        conciernan, o no.
        Las personas interesadas tienen derecho a si acceder a sus datos personales, así como a solicitar la
        rectificación
        de los datos inexactos o, en su caso, solicitar su supresión cuando, entre otros motivos, los datos ya no sean
        necesarios para los fines que fueron recogidos.
        En determinadas circunstancias, los interesados podrán solicitar la limitación del tratamiento de sus datos, en
        cuyo caso únicamente los conservaremos para el ejercicio o la defensa de reclamaciones.
      </p>
      <p>
        En determinadas circunstancias y por motivos relacionados con su situación particular, los interesados podrán
        oponerse al tratamiento de sus datos. En ese caso dejaremos de tratar los datos, salvo por motivos legítimos
        imperiosos, o el ejercicio o la defensa de posibles reclamaciones.
        También tiene derecho a tutela de la agencia española de protección de datos. </p>
      <h2 class="h4">
        ¿Cómo hemos obtenido sus datos?
      </h2>
      <p>Los datos personales que tratamos proceden del interesado.
        Las categorías de datos que se tratan son: Datos de identificación. Direcciones postales o electrónicas.</p>
    </div>

    <div class="container">
</main>