<%- include('./includes/header.ejs') %>
<div class="jumbotron-fluid bg-turqoise position-relative">
  <picture>
    <source media="(min-width: 768px)" srcset="images/plans-banner.png">
    <img src="images/Group 213.png" class="img-fluid" width="100%">
  </picture>
  <div class="container plans-banner">
    <div class="card card-plans-banner shadow">
      <div class="card-header bg-dark-blue text-white">
        <div class="font-weight-bold h2 mb-0">Plan</div>
        <div>
          <img src="../images/my-turqoise.png" class="img-fluid mr-1">
          <span class="align-bottom" style="font-size: 55px; line-height: 1.15">Drive</span>
        </div>
      </div>
      <div class="card-body">
        <div class="card-text text-lg mb-4lg">
          Pequeña descripción del plan.
          Descubre la ciudad consumiendo poco.
        </div>
        <div class="d-flex align-items-end justify-content-between">
          <div>
            <span class="text-lg">desde</span>
            <div class="price">
              <span class="value">199€</span>
              <span class="small">/mes</span>
            </div>
          </div>
          <div>
            <a href="#" class="btn btn-dark-blue btn-sm pill">¡Lo quiero!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="container py-10 mt-10 mt-lg-0">
  <h3 class="h2 text-center my-3">
    ¿Tienes en mente un vehículo?
  </h3>
  <p class="lead text-center text-dark-blue mx-auto font-weight-normal" style="max-width: 80ch">
    Cualquier persona tiene derecho a obtener confirmación sobre si estamos tratando datos personales que les
    conciernan, o no.
    Las personas interesadas tienen derecho a si acceder a sus datos personales, así como a solicitar la rectificación
    de los datos inexactos o, en su caso, solicitar su supresión cuando,
  </p>
  <div class="container-lg">
		<div class="products-slider my-5">
			<div class="px-md-3 h-100">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="../images/my-1.png">
						Fiat 500
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="../images/2008 10.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-green text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3 h-100">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="../images/my-1.png">
						Ford Focus
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="../images/2008 11.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-green text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3 h-100">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="../images/my-1.png">
						Opel Corsa
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="../images/2008 12.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-green text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="products-slider mb-5">
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="../images/my-2.png">
						alfaromeo giulietta
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="../images/2008 13.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-lime text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="../images/my-2.png">
						land rover-range
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="../images/2008 14.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-lime text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="../images/my-2.png">
						Jaguar-xe
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="../images/2008 15.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-lime text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="products-slider mb-5">
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="../images/my-3.png">
						Piaggio Liberty
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="../images/2008 16.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-purple text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="../images/my-3.png">
						Aprilia
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="../images/2008 17.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-purple text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="../images/my-3.png">
						MG Stornello
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="../images/2008 18.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-purple text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
  <div class="container mb-6">
		<div class="advantages-slider">
			<div>
				<div class="card card-advantages flex-md-row bg-turqoise">
					<div class="card-body text-white">
						<h5 class="card-title display-3">Low cost.</h5>
						<div class="card-text mb-6">Cambia de coche cuando quieras.
              Si te surgen nuevas necesidades es muy fácil cambiar de plan, de vehículo o de condiciones. </div>
						<div class="dotsContainer"></div>
					</div>
					<img class="card-img-bottom img-fluid" src="images/flexible.png">
				</div>

			</div>
			<div>
				<div class="card card-advantages flex-md-row bg-turqoise">
					<div class="card-body text-white">
						<h5 class="card-title display-3">Personal.</h5>
						<div class="card-text mb-6">Recogemos/entregamos tu vehículo en tu domicilio. </div>
						<div class="dotsContainer"></div>
					</div>
					<img class="card-img-bottom img-fluid" src="images/personal.png">
				</div>
			</div>
			<div>
				<div class="card card-advantages flex-md-row bg-turqoise">
					<div class="card-body text-white">
						<h5 class="card-title display-3">Control.</h5>
						<div class="card-text mb-6">Cambia de coche cuando quieras.
							Toda la información de tu vehículo en tu móvil.</div>
						<div class="dotsContainer"></div>
					</div>
					<img class="card-img-bottom img-fluid" src="images/control.png">
				</div>
			</div>
		</div>
	</div>
</section>
<h2 class="section-divider bg-blue mb-5">
  FAQs
</h2>
<section class="container mb-6">
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-blue mb-3">
        <button class="btn btn-blue btn-block d-flex justify-content-between" data-toggle="collapse"
          data-target="#contentId">
          Tecnología
          <span>&gt;</span>
        </button>
        <div class="collapse" id="contentId">
          • Bluetooth
          • Control de crucero
          • Sistema audio digital
          • Conexión USB
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card round-lg bg-blue text-white">
        <img src="../images/swish.png" alt="" class="card-img">
        <div class="card-img-overlay card-body">
          <div class="card-text">
            <div class="h1 mb-8">
              Te llamamos gratis y sin compromiso.
            </div>
            <button class="btn btn-lime">
              Llámame
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid px-lg-6">
  <%- include('./includes/contact-form.ejs') %>
</section>

<%- include('./includes/footer.ejs') %>