<%- include('./includes/header.ejs') %>
<div class="jumbotron-fluid bg-turqoise position-relative">
	<picture>
		<source media="(min-width: 768px)" srcset="images/plans-banner.png">
		<img src="images/Group 213.png" class="img-fluid" width="100%">
	</picture>
	<div class="container plans-banner">
		<div class="card card-plans-banner shadow">
			<div class="card-header bg-dark-blue text-white">
				<div class="font-weight-bold text-lg mb-0">Plan</div>
				<div>
					<img src="images/my-turqoise.png" class="img-fluid mr-1">
					<span class="align-bottom" style="font-size: 55px; line-height: 1.15">Drive</span>
				</div>
			</div>
			<div class="card-body">
				<div class="card-text text-md mb-4lg">
					Pequeña descripción del plan.
					Descubre la ciudad consumiendo poco.
				</div>
				<div class="d-flex align-items-end justify-content-between">
					<div>
						<span class="text-3md">desde</span>
						<div class="price">
							<span class="value">199€</span>
							<span class="text-2md">/mes</span>
						</div>
					</div>
					<div>
						<a href="#" class="btn btn-dark-blue btn-sm pill">¡Lo quiero!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="container py-10 mt-10 mt-lg-0">
	<h3 class="h2 text-center my-3">
		Elige el Mycity que mejor se adapte a ti.
	</h3>
	<p class="lead text-center text-dark-blue mx-auto font-weight-normal" style="max-width: 80ch">
		Cualquier persona tiene derecho a obtener confirmación sobre si estamos tratando datos personales que les
		conciernan, o no.
		Las personas interesadas tienen derecho a si acceder a sus datos personales, así como a solicitar la rectificación
		de los datos inexactos o, en su caso, solicitar su supresión cuando,
	</p>
	<div class="">
		<div class="products-slider my-5">
			<div class="px-md-4 h-100">
				<div class="product">
					<h5 class="product__title">
						<img src="images/my-1.png">
						Fiat 500
					</h5>
					<div class="product__body">
						<div class="product__price">
							<div class="small">desde</div>
							<div>
								<span>199€</span>
								<small>/mes</small>
							</div>
						</div>
						<img src="images/2008 10.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-turqoise text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3 h-100">
        <div class="product">
					<h5 class="product__title">
						<img src="images/my-1.png">
						Ford Focus
					</h5>
					<div class="product__body">
						<div class="product__price">
							<div class="small">desde</div>
							<div>
								<span>236€</span>
								<small>/mes</small>
							</div>
						</div>
						<img src="images/2008 11.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-turqoise text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3 h-100">
        <div class="product">
					<h5 class="product__title">
						<img src="images/my-1.png">
						Opel Corsa
					</h5>
					<div class="product__body">
						<div class="product__price">
							<div class="small">desde</div>
							<div>
								<span>236€</span>
								<small>/mes</small>
							</div>
						</div>
						<img src="images/2008 12.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-turqoise text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="products-slider mb-5">
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="images/my-2.png">
						alfaromeo giulietta
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="images/2008 13.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-lime text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="images/my-2.png">
						land rover-range
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="images/2008 14.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-lime text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="images/my-2.png">
						Jaguar-xe
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="images/2008 15.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-lime text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="products-slider mb-5">
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="images/my-3.png">
						Piaggio Liberty
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="images/2008 16.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-purple text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="images/my-3.png">
						Aprilia
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="images/2008 17.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-purple text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-md-3">
				<div class="card card-product">
					<h5 class="card-title">
						<img src="images/my-3.png">
						MG Stornello
					</h5>
					<div class="card-body pb-0">
						<div class="price">
							<div class="small">desde</div>
							<div>
								<span class="value">236$</span>
								<span class="small">/mes</span>
							</div>
						</div>
						<img src="images/2008 18.png" class="img-fluid mb-5">
						<div>
							<div class="d-flex justify-content-between">
								<div class="mr-4">
									<h6>
										Opciones
									</h6>
									<p>
										Sin permanencia<br />
										3, 12 y 24 meses
									</p>
								</div>
								<div>
									<a href="#" class="btn btn-purple text-nowrap">Ir a la oferta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container mb-6">
		<div class="advantages-slider">
			<div>
				<div class="card card-advantages flex-md-row bg-turqoise">
					<div class="card-body text-white">
						<h5 class="card-title display-3">Low cost.</h5>
						<div class="card-text mb-6">Cambia de coche cuando quieras.
							Si te surgen nuevas necesidades es muy fácil cambiar de plan, de vehículo o de condiciones. </div>
							<div class="dotsStatic">
								<div class="dot active"></div>
								<div class="dot"></div>
								<div class="dot"></div>
							</div>
						</div>
					<img class="card-img-bottom img-fluid" src="images/flexible.png">
				</div>

			</div>
			<div>
				<div class="card card-advantages flex-md-row bg-turqoise">
					<div class="card-body text-white">
						<h5 class="card-title display-3">Personal.</h5>
						<div class="card-text mb-6">Recogemos/entregamos tu vehículo en tu domicilio.
						</div>
						<div class="dotsStatic">
							<div class="dot"></div>
							<div class="dot active"></div>
							<div class="dot"></div>
						</div>
					</div>
					<img class="card-img-bottom img-fluid" src="images/personal.png">
				</div>
			</div>
			<div>
				<div class="card card-advantages flex-md-row bg-turqoise">
					<div class="card-body text-white">
						<h5 class="card-title display-3">Control.</h5>
						<div class="card-text mb-6">Cambia de coche cuando quieras.
							Toda la información de tu vehículo en tu móvil.</div>
							<div class="dotsStatic">
								<div class="dot"></div>
								<div class="dot"></div>
								<div class="dot active"></div>
							</div>
					</div>
					<img class="card-img-bottom img-fluid" src="images/control.png">
				</div>
			</div>
		</div>
	</div>
</section>
<h2 class="section-divider bg-blue mb-5">
	FAQs
</h2>
<section class="container mb-6">
	<div class="row">
    <div class="col-md-6">
      <div class="card bg-light mb-3 accordion">
        <div class="text-blue">
          <button class="accordion-header btn btn-blue btn-block d-flex justify-content-between collapsed text-left"
            data-toggle="collapse" data-target="#c1" data-color="var(--blue)">
            ¿Cómo y cuándo me entregan mi coche?
            <span class="arrow">
              <i class="bi bi-chevron-right"></i>
            </span>
          </button>
        </div>
        <div class="collapse" id="c1">
          <div class="card-body accordion-body">
            Cualquier persona tiene derecho a obtener confirmación sobre si estamos tratando datos personales que les
            conciernan, o no.
            Las personas interesadas tienen derecho a si acceder a sus datos personales, así como a solicitar la
            rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando,
          </div>
        </div>
      </div>
      <div class="card bg-light mb-3 accordion">
        <div class="text-blue">
          <button class="accordion-header btn btn-blue btn-block d-flex justify-content-between collapsed text-left"
            data-toggle="collapse" data-target="#c2">
            ¿Hay requisitos para que te concedan un renting?
            <span class="arrow">
              <i class="bi bi-chevron-right"></i>
            </span>
          </button>
        </div>
        <div class="collapse" id="c2">
          <div class="card-body accordion-body">
            Cualquier persona tiene derecho a obtener confirmación sobre si estamos tratando datos personales que les
            conciernan, o no.
            Las personas interesadas tienen derecho a si acceder a sus datos personales, así como a solicitar la
            rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando,
          </div>
        </div>
      </div>
      <div class="card bg-light mb-3 accordion">
        <div class="text-blue">
          <button class="accordion-header btn btn-blue btn-block d-flex justify-content-between collapsed text-left"
            data-toggle="collapse" data-target="#c3" data-color="var(--blue)">
            Si hago más kilómetros de los contratados, ¿qué puede pasar?
            <span class="arrow">
              <i class="bi bi-chevron-right"></i>
            </span>
          </button>
        </div>
        <div class="collapse" id="c3">
          <div class="card-body accordion-body">
            Cualquier persona tiene derecho a obtener confirmación sobre si estamos tratando datos personales que les
            conciernan, o no.
            Las personas interesadas tienen derecho a si acceder a sus datos personales, así como a solicitar la
            rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando,
          </div>
        </div>
      </div>
      <div class="card bg-light mb-3 accordion">
        <div class="text-blue">
          <button class="accordion-header btn btn-blue btn-block d-flex justify-content-between collapsed text-left"
            data-toggle="collapse" data-target="#c4" data-color="var(--blue)">
            ¿Hay posibilidad de comprar el coche al terminar mi renting?
            <span class="arrow">
              <i class="bi bi-chevron-right"></i>
            </span>
          </button>
        </div>
        <div class="collapse" id="c4">
          <div class="card-body accordion-body">
            Cualquier persona tiene derecho a obtener confirmación sobre si estamos tratando datos personales que les
            conciernan, o no.
            Las personas interesadas tienen derecho a si acceder a sus datos personales, así como a solicitar la
            rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando,
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card round-lg bg-blue text-white"
        style="background: url(images/swish.png) center / cover var(--blue)">
        <!-- <img src="images/swish.png" alt="" class="card-img"> -->
        <div class="card-body p-4xl p-lg-7">
          <div class="card-text w-75">
            <div class="h1 mb-lg-8">
              Te llamamos gratis y sin compromiso.
            </div>
            <button class="btn btn-lime">
              Llámame
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid px-lg-6">
	<%- include('./includes/contact-form.ejs') %>
</section>

<%- include('./includes/footer.ejs') %>